.vscode/**
.vscode-test/**
build/**
src/**
webviews/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules
rollup.config.js
test-resources
out/tests
.github