.qos-select {
  width: 70px;
  margin-top: 1px;
}

vscode-button {
  width: 90px;
}

.section-title {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-left: 5px;
}
